<!DOCTYPE html>
<html>

<head>
  <title>Lista de Oficinas</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <a class="navbar-brand" th:href='@{/}'>
        <img th:src="@{/images/logoPrincipal.png}" width="200" height="60">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        </ul>
      </div>
    </div>
  </nav>

  <h1 style="color: #78288c;">Listado de oficinas:</h1>
  <div class="card-columns">
    <div th:each="oficina : ${oficinas}" th:object="${oficina}">
      <div class="card" style="background-color: #78288c;">
        <div class="card-header">
          <h5 class="card-title" th:text="${oficina.nombre}" style="color: #c7cac8;"></h5>
        </div>
        <div class="card-body">
          <p class="card-text">

          <span class="font-weight-bold" style="color: #c7cac8;">Id:</span> <span th:text="${oficina.id}" style="color: #c7cac8;"></span><br>
          <span class="font-weight-bold" style="color: #c7cac8;">direccion:</span> <span th:text="${oficina.direccion}" style="color: #c7cac8;"></span><br>
          <span class="font-weight-bold" style="color: #c7cac8;">Numero De Puntos Disponibles:</span> <span th:text="${oficina.numeroPuntosDisponibles}" style="color: #c7cac8;"></span><br>
          <span class="font-weight-bold" style="color: #c7cac8;">Gerente:</span> 
          <span th:with="gerenteId = ${oficina.idGerente}">
              <span th:utext="${#lists.isEmpty(usuarios) ? 'Gerente no encontrado' : ''}" style="color: #c7cac8;"></span>
              <span th:each="usuario : ${usuarios}" th:if="${usuario.id == gerenteId}" th:text="${usuario.nombre}" style="color: #c7cac8;"></span>
          </span>
        </div>

      </div>
    </div>    
  </div>
    <div class="text-center">
      <a th:href="@{/oficina/new}" class="btn btn" style="background-color: #78288c ; color: white;" >Añadir Oficina</a>
      <a th:href="@{/}" class="btn " style="background-color: #ee0e0e; color: white;" >Volver Atrás</a>
    </div>

  </div>
  <br />
</body>
</html>